.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    color: var(--white-color);
  }
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.logo__accent {
  color: var(--accent-text-color);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;

  &__list {
    line-height: 1.71;
  }
}

.footer-address__list .footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  color: var(--address-link-footer);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &--active {
    color: var(--white-color);
  }
}

.social-text {
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }

  &__icon {
    fill: currentColor;
  }
}

.form-container {
  margin-left: auto;
}

.form-text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;

  &__mail {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--white-color);

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.footer-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-left: 12px;
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__icon {
    margin-left: 10px;
    fill: var(--white-color);
  }
}
